/* html,
body {
  background-color: #ecf0f1;
  direction: rtl !important;
  font-family: sans-serif;
  text-decoration: none !important;
  position: relative;
  height: 100%;
  overflow-x: hidden; 
}
body {
  font-size: 14px;
  color: #000;
} */
body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f1;
  direction: rtl !important;
  position: relative;
  overflow-x: hidden; 



}
.none-text--decoration {
  text-decoration: none !important;
}

.full-page {
  width: 100%;
}
.header-one {
  background-color: #3e4d56;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.logo {
  display: inline;
  position: absolute;
  left: 10px;
  padding-bottom: 35px;
}
.logo > a > img {
  margin-top: 30px;
  margin-left: 20px;
}
.box {
  width: 640px;
  position: absolute;
  position: absolute;
  left: 470px;
}
.search-box {
  display: flex;
}
input {
  position: relative;
  display: inline-block;
  font-size: 15px;
  transition: 1.5s;
  box-sizing: border-box;
}
input[type="text"] {
  background-color: #333333;
  width: 760px;
  padding: 7px 10px;
  border-radius: 0px 25px 25px 0px;
  color: white;
  outline: none;
  border: none;
}
.btn-search {
  border-radius: 25px 0 0 25px;
  padding: 14px;
  background-color: #e70028;
  border: none;

  width: 50px;
}
.login {
  position: absolute;
  right: 60px;
}
.btn-search > img {
  margin-bottom: 2px;
  margin-left: 2px;
}
/* .login > a {
  text-decoration: none;
} */
.login .login-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 5px 25px;
  color: white;
  text-decoration: none;
}
.login .register-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 5px 25px;
  color: white;
  text-decoration: none;
}
.header-two {
  height: 50px;
  background-color: #23262b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  position: sticky;
  opacity: .9;
  z-index: 9999;
  top: 0;
}

.list {
  margin-right: 30px;
}

.list > ul > a {
  display: inline-block;
  color: white;
  margin-right: 30px;
  text-decoration: none;
}
.store {
  margin-left: 30px;
}

.set-display {
  padding-top: 13px;
}
.list-style {
  padding: 12px 20px 13px 20px;
}
.store > a {
  text-decoration: none;
  transition: 0.6s;
}
.list-style:hover {
  border-bottom: 3px solid #e70028;
}

/* slider */


.carousel-item
{
  height: 50vh;
}
.carousel-indicators
{
  bottom: 1 !important;
}
.carousel-item
{
  height: 70vh;
} 

#carouselExampleIndicators{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  display: flex;
}
.summary-all--page
{
  margin-top: 30px;
  height: 782px;
  display: flex;
}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 6px;
  background:linear-gradient(transparent,#1dd1a1);
}

::-webkit-scrollbar-thumb:hover
{
  background:linear-gradient(transparent,#82589F);

}
.summary-coulmn
{
  display: flex;
  flex-direction: column;
  
}
.summary-coulmn2
{
  display: flex;
  flex-direction: column;
}
.shadow
{
  box-shadow: 0 30px 38px rgba(0,0,0,0.50)
}
.two-carousel
{
  height: 480px;
  background-color: white;
  margin-top: 40px;
}

/* Slick carousel */
/* .glide__slide img{
  width: 100%;
} */

.glide__slides{
  overflow: visible;
}
.glide__track
{
  margin-top: 130px;
}

/* .glide__slides .glide__slide
{
  width: 200px;
  height: 200px;
} */
.body-carousel
{
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    height: 500px;
    display: flex;
    align-items: center;
}
.glide__slide
{
  width: 371px;
  height: 400px;
}
.card-img-top
{
  width:100%; 
  height: 200px;
}
.card-body
{
  text-align: right;
}
.card-text
{
  margin-bottom: 1.5rem;
}
.btn-price
{
  padding: 15px;
  background-color: violet;
  border: none;
  border-radius: 5px ;
  text-align: center !important;
}
.shadow-card
{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}